/*Обнуление*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

/*--------------------*/

body {
    font-family: "Ubuntu", sans-serif;
    overflow-x: hidden;
}

.footer {
    margin-bottom: 110px;
}

.container {
    max-width: 1190px;
    margin: 0 auto;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 52px 0px 117px 0px;
}

.footer-top_logo {
    display: flex;
    align-items: center;
}

.footer-top_logo_text {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    margin-left: 25px;
}

a {
    color: #202020;
}

.footer-top_nav ul {
    display: flex;
    align-items: center;
}

.footer-top_nav ul li {
    margin-right: 40px;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
}

.footer-bottom {
    height: 427px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-bottom h1 {
    font-weight: bold;
    font-size: 57px;
    line-height: 65px;
}

.footer-bottom p {
    font-weight: normal;
    font-size: 32px;
    line-height: 51px;
    color: #4f4f4f;
    max-width: 741px;
}

.footer-top-button {
    background-color: #5528ff;
    color: #fff;
    width: 100px;
    height: 24px;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    border-radius: 5px;
    transition: all 1s;
}

.footer-top-button:hover {
    box-shadow: 0 0 10px #5528ff;
}

.footer-button {
    background-color: #5528ff;
    color: #fff;
    border-radius: 10px;
    width: 235px;
    height: 60px;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    box-shadow: 0 0 10px #5528ff;
    transition: all 1s;
}

.footer-button:hover {
    box-shadow: 0 0 25px #5528ff;
}

.footer-button:focus {
    outline: none;
}

.footer-top_nav_ul a {
    position: relative;

    cursor: pointer;
    line-height: 1;

    text-decoration: none;
}

.footer-top_nav_ul a:after {
    display: block;
    position: absolute;
    left: 0;

    width: 0;

    height: 2px;

    background-color: #5528ff;

    content: "";
    transition: width 0.3s ease-out;
}

.footer-top_nav_ul a:hover:after,
.footer-top_nav_ul a:focus:after {
    width: 100%;
}

hr {
    border: none;
    background-color: #c2c2c2;
    height: 1px;
}

.cards {
    padding: 90px 0px;
    display: flex;

    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    height: 100px;
    width: 337px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 82px;
}

.card-text {
    height: 80px;
    width: 292px;
}

.card h1 {
    font-weight: normal;
    font-size: 28px;
    line-height: 32px;
    color: #000000;
    padding-bottom: 15px;
}

.card p {
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #b2b2b2;
}

.clients {
    margin: 70px 0px 70px 0px;
}

.clients-1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.clients-2 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.clients-3 {
    display: flex;
    justify-content: space-between;
}



.cases {
    margin: 0px 0px 60px 0px;
    display: flex;
    justify-content: space-evenly;
}

.cases:first-child {
    margin-top: 100px;
}

.cases:last-child {
    margin-bottom: 100px;
}

.cases1 {
    display: flex;
}

.cases1-text {
    display: flex;
    flex-direction: column;

    justify-content: space-evenly;
}

.cases1-text h1 {
    font-weight: bold;
    font-size: 28px;
    line-height: 32px;
}

.cases1-text p {
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #b2b2b2;
}

.cases1 img {
    margin-right: 35px;
}

.header {
    background-color: #f7f7f7;
    height: 100px;
}

.header-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.header-nav img {
    margin-left: 40px;
}

@media (max-width: 1200px) {
    .container {
        max-width: 970px;
        padding: 0px 25px;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 750px;
    }

    .cards {
        padding: 0px;
        display: flex;

        flex-wrap: wrap;
        justify-content: center;
    }
}

@media (max-width: 767px) {
    .container {
        max-width: none;
    }
}

@media (max-width: 696px) {
    .container {
        max-width: none;
    }

    .footer-bottom {
        display: flex;
        align-items: center;
        text-align: center;
    }

    .footer-top_nav {
        display: inline;
    }

    .clients {
        margin: 0px;
        padding: 25px;
    }

    .clients img {
        width: 55px;
        height: 55px;
    }

    .cases {
        flex-direction: column;
        display: flex;
        align-items: center;
        margin: 0px 0px 35px 0px;
    }

    .cases1 {
        margin-bottom: 20px;
    }
}

@media (max-width: 635px) {
    .services {
        padding-top: 170px;
    }
}

@media (max-width: 634px) {
    .footer-top {
        margin: 52px 0px 80px -24px;
    }

    .footer-top_logo {
        margin-right: 22px;
    }

    .footer-top_nav ul {
        text-align: center;
    }

    .footer-top_nav ul li:last-child {
        margin-right: 0px;
    }

    .footer-top_logo_text {
        display: none;
    }

    .footer-top_nav ul li {
        margin-right: 15px;
        font-weight: bold;
        font-size: 14px;
        line-height: 16px;
    }

    .footer-bottom h1 {
        font-weight: bold;
        font-size: 57px;
        line-height: 65px;
        padding-bottom: 25px;
    }

    .footer-bottom p {
        font-weight: normal;
        font-size: 32px;
        line-height: 51px;
        color: #4f4f4f;
        max-width: 741px;
        padding-bottom: 25px;
    }
}

@media (max-width: 414px) {
    .services {
        padding-top: 285px;
    }
}

@media (max-width: 488px) {
    .services {
        padding-top: 282px;
    }
}

@media (max-width: 445px) {
    .card-img {
        margin-right: 20px;
    }
}

@media (max-width: 360px) {
    .services {
        padding-top: 404px;
    }
}